{% style %}
.npc-img {
  background: #F1EFEB;
  border-radius: 8px;
  overflow: hidden;
  }
{% endstyle %}

<div class="newproduct-card">
  <div class="newproduct-head">
     <div class="npc-img">
        <img src=" alt=""/>
     </div>
     <div class="npc-btn">
        <a href="view-product"></a>
        <a href=>Add to Cart</a>
     </div>
  </div>
  <div class="newproduct-body">
    <div class="newproduct-name">
       <h5></h5>
       <h2></h2>
    </div>
    <div class="price"></div>
  </div>
</div>
