<section id="six" data-color="#2FBA44" class="dksoni intro-block-container panel" data-color="#2FBA44" style="overflow:hidden;">
    <div class="stall-img-box">
        <img src="https://cdn.shopify.com/s/files/1/0407/5103/8632/files/component___stall_image_1_1_1.png?v=1654185663" alt="" class="d-md-block d-none" />
    </div>
    <div class="container position-relative">
        <div class="row">
            <div class="col-md-12">
                <div class="intro-text-upper">
                    <div class="stall-img-box">
                        <img src="https://cdn.shopify.com/s/files/1/0407/5103/8632/files/stall-img.png?v=1654181557" alt="" class="d-block d-md-none" />
                    </div>

                    <div class="back-logo-img">
                        <img src="https://cdn.shopify.com/s/files/1/0407/5103/8632/files/logo-yellow.png?v=1654048542" alt="" />
                    </div>
                    <h3>Goju is the brainchild of sibling duo Tom and Belle Hartles</h3>
                    <p>
                        It was our love of health, wellness and a shared gene pool that brought us together to create Goju – a homegrown wellness business born in our garage to take to farmer’s markets and eventually, a store near you.
                    </p>
                    <a href="https://gojushots.com/pages/our-story" class="btn btn-white">Our full story</a>
                </div>
            </div>
        </div>
    </div>
</section>



{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}