<section id="nine" data-color="#20A634" class="dksoni end-block-container panel" data-color="#FFEF8D" style="overflow:hidden;">
    <div class="girl-img d-md-block d-none">
        <img src="https://cdn.shopify.com/s/files/1/0407/5103/8632/t/18/assets/charge-sticker-green.svg" alt="" />
    </div>

    <div class="container position-relative">
        <div class="row">
            <div class="col-md-12">
                <div class="intro-text-lower">
                    <h3>A commitment to sustainability</h3>
                    <p>
                        Goju is on a mission to become carbon negative by early 2024. This isn’t just a ‘nice to have’ brand statement for businesses like ours anymore, it’s a necessity. We are constantly looking at ways we can become more
                        sustainable as a business and our work here is never done.
                    </p>
                    <a href="https://gojushots.com/pages/goju-and-the-environment" class="btn">How we’re doing our part</a>
                </div>
            </div>
        </div>
    </div>
    <div class="right-image-box">
        <img src="https://cdn.shopify.com/s/files/1/0407/5103/8632/t/18/assets/Hand_001.png?v=1654665494" alt="" />
    </div>
</section>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}